{% load static %}
<link rel="stylesheet" href="{% static 'dashboard/style.css' %}">
<link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
<h1>{{ activity.activity_name }}</h1>

<p>
Started {{ activity.date_created }}, expected to do every {{ activity.expected_period }}
</p>
<ul>
{% for execution in activity.execution_set.all %}
    <li> Done {{ execution.execution_date }} by {{ execution.executed_by }}</li>
{% endfor %}
</ul>

<form action="{% url 'dashboard:execute_activity' activity.id %}" method="post">

{% csrf_token %}
<input type="submit" value="Do">
</form>
