{% load static %}
<link rel="stylesheet" href="{% static 'dashboard/style.css' %}">
<link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
<header>
    <h1>{{ activity.activity_name }}</h1>
</header>

<main>
    <p class="notice">
    Started {{ activity.date_created }}, expected to do every {{ activity.expected_period }}
    </p>

{% if activity.notes %}
<aside>
    {{activity.notes}}
</aside>
{% endif %}


<form action="{% url 'dashboard:execute_activity' activity.id %}" method="post">
{% csrf_token %}
<input class="button" type="submit" value="Do">
</form>

<ul>
{% for execution in activity.associated_executions_by_date %}
<li> {{ execution }}
    <a href="{% url 'dashboard:update_execution' execution.id %}">(edit)</a>
    <a href="{% url 'dashboard:delete_execution' execution.id %}">(delete)</a>
</li>
{% endfor %}
</ul>


</main>
<footer>
    Logged in as {{ user.username }}</br>
    <a href={% url 'dashboard:update_activity' activity.id %}>Edit</a> or <a href={% url 'dashboard:delete_activity' activity.id %}>delete</a> this activity?
    <br/>
    <a href={% url 'dashboard:index' %}>Return to dashboard.</a>
</footer>
