{% load static %}
<link rel="stylesheet" href="{% static 'dashboard/style.css' %}">
<link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
<h1>{{ activity.activity_name }}</h1>

<p>
Started {{ activity.date_created }}, expected to do every {{ activity.expected_period }}
</p>
<ul>
{% for execution in activity.associated_executions_by_date %}
<li> {{ execution }}  <a href="{% url 'dashboard:update_execution' execution.id %}">(edit)</a></li>
{% endfor %}
</ul>

<form action="{% url 'dashboard:execute_activity' activity.id %}" method="post">

{% csrf_token %}
<input type="submit" value="Do">
</form>

<a href={% url 'dashboard:update_activity' activity.id %}>Edit</a>
