{% load static %}

<link rel="stylesheet" href="{% static 'dashboard/style.css' %}">
<link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">

<main>

<div>
    <form>
        <label for="priority">Priority cut-off:</label>
        <input id="priority" min="0" max="1" step="0.05" value = "{{ priority }}" name="priority">
        <input id="filter-btn" type="submit" value="Filter">
    </form>
</div>
{% if activities %}


    <table>
    <tr>
        <th>Co?</th>
        <th>Okres</th>
        <th>Ostatnio</th>
        <th>Ile wpisów</th>
        <th>Priorytet</th>
        <th></th>
    </tr>
    {% for activity in activities %}
    <tr>
        <td id="activity_name">
            <a href="{% url 'dashboard:detail' activity.id %}">{{ activity.activity_name }}</a>
        </td>
        <td id="expected_period">
            {{ activity.expected_period.days }}d
        </td>
        <td id="last_execution_date"> {{ activity.last_entry.execution_date | date:"Y-m-d" }} </td>
        <td id="execution_count"> {{ activity.execution_set.count }} </td>
        <td id="priority"> {{ activity.priority | floatformat:-1 }} </td>
        <td id="done_button">
            <span id="button_bar">
                <form type="hidden" action="{% url 'dashboard:execute_activity' activity.id %}" method="post">
                    {% csrf_token %}
                    <input class="button" type="submit" value="✅">
                </form>
                <form type="hidden" action="{% url 'dashboard:execute_activity_team' activity.id %}" method="post">
                    {% csrf_token %}
                    <input class="button" type="submit" value="🧑‍🤝‍🧑">
                </form>
                <form type="hidden" action="{% url 'dashboard:create_execution' activity.id %}" method="get">
                    <input class="button" type="submit" value="❔">
                </form>
            </span>
        </td>
    </tr>
    {% endfor %}
    </table>
{% else %}
<p>No activities found at the current priority cutoff value. Try a lower one? </p>
{% endif %}
</main>

<footer>
    Logged in as {{ user.username }}</br>
    <a href="{% url 'dashboard:create_activity' %}">Create an activity?</a>
    <a href="{% url 'dashboard:upload_yaml' %}">Upload YAML?</a>
</footer>
