th {
    style: bold;
}
#priority {
    color: orange;
}

#execution_count {
    color: gray;
}

#last_execution_date {
    color: green;
}

#expected_period {
    color: blue;
}
td form {
    margin: 0;
}
td form input .button {
   display: block;
   margin: 0;
}

#button_bar {
    display: flex;
}
